<h1><%=@trip.name%></h1>
<%=display_dates(@trip)%>

<%=render 'edit_time'%><br>


<h2> Destinations!</h2>

<%trip_destinations(@trip).each do |dest|%>
<%=dest%>
<%end%>

<%=link_to "Add New Destination", new_trip_destination_path(@trip)%>
