  <h1><%=current_user.user_name.titleize%></h1>


<div id= "trips">
  <%user_trips.each do |trip|%>
  <li><%=link_to trip.name, trip_path(trip)%></li>
  <%end%>
</div>

<h2>Create a New Trip</h2>
<!--
<%=form_for @trip, :remote => true do |f|%>
<%=f.hidden_field :user_id, :value => current_user.id, :id => "user_id"%>
<%=f.label :name%>
<%=f.text_field :name, :id => "name"%>
<%=f.submit  "submit" %>
<%end%>
-->
<%=form_with model: @trip, class: "new_trip" do |f|%>
<%=f.hidden_field :user_id, :value => current_user.id, :id => "user_id"%>
<%=f.label :name%>
<%=f.text_field :name, id: "name"%>
<%=f.submit "submit"%>
<%end%>
