
  <div id="destination-heading">
    <h1><%=@destination.name%></h1><br>
  </div>

  <div id="transport_to_display" <%= "style= border-style:none;" if !@destination.transport_to%>>
    <%if display_transport_to(@destination)%>
      <h1><%=@destination.transport_to.transport_type%></h1>
      <p>$<%=@destination.transport_to.price%></p>
      <p>Leaving: <%=display_transport_to_dates(@destination.transport_to.time_leaving)%></p>
      <p>Arriving: <%=display_transport_to_dates(@destination.transport_to.time_arriving)%></p>
      <p><%=@destination.transport_to.paid ? "Paid" : "Unpaid"%></p>
    <%end%>
  </div>

<div id="destination">




  <strong>Where you will be staying</strong>
  <%destination_hotels(@destination).each do |hotel|%>
  <li><%=link_to hotel.name, hotel_path(hotel), :class => 'black'%></li>
  <%end%><br>

  <strong>What you will be doing</strong>

  <%destination_experiences(@destination).each do |exp|%>
  <li><%=link_to exp.name, experience_path(exp), :class => 'black'%></li>
  <%end%>

  <div class="destination-seperation">
    <%=button_to "Add Transportation To", new_transport_to_path, method: "get", params:{destination_id: @destination.id} %>
    <%=button_to "Add Transportation From", new_transport_from_path,method: "get", params:{destination_id: @destination.id}%>
  </div>
  <div class="destination-seperation">
    <%=button_to "Add Hotel", new_hotel_path, :id=> "destination_button_top", :method => "get", params:{:destination_id => @destination.id}%>
    <%=button_to "Add Experience", new_experience_path, :class => "additional_buttons", :method => "get", params:{:destination_id => @destination.id}%>
  </div>
</div>

<div id="transport_from_display" <%= "style= border-style:none;" if !@destination.transport_from%>>
  <%if display_transport_from(@destination)%>
    <h1><%=@destination.transport_to.transport_type%></h1>
    <p>$<%=@destination.transport_to.price%></p>
    <p>Leaving: <%=display_transport_to_dates(@destination.transport_from.time_leaving)%></p>
    <p>Arriving: <%=display_transport_to_dates(@destination.transport_from.time_arriving)%></p>
    <p><%=@destination.transport_to.paid ? "Paid" : "Unpaid"%></p>
  <%end%>
</div>
