<!DOCTYPE html>
<html>
  <head>
    <title>BackpackPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>
  </head>
  <%=create_nav%>
  <body>
<%if session[:user_id]%>
<header>
<div class='nav-bar'>
  <ul>
    <li><%=link_to "Home", user_path(current_user), :class => "nav-bar-link"%></li>
    <li><%=link_to "My Trips", user_path(current_user), :class => 'nav-bar-link'%></li>
  </ul>
</div>
</header>
<%end%>

    <%= yield %>
  </body>
  <footer id="footer">

    <%=format_logout%>
  </footer>
</html>
