<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title></title>
  </head>

  <%if session[:user_id]%>
  <header>
  <div class='nav-bar'>
    <ul>
      <li><%=link_to "Home", user_path(current_user), :class => "nav-bar-link"%></li>
      <li><%=link_to "My Trips", user_path(current_user), :class => 'nav-bar-link'%></li>
    </ul>
  </div>
  </header>
  <%end%>
  <body>

    <%=yield%>
  </body>
</html>
